services:
  postgres:
    image: postgres:16
    container_name: cdit_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: cdit_db
      POSTGRES_USER: cdit_user
      POSTGRES_PASSWORD: cdit_pass
      TZ: America/Sao_Paulo
      PGTZ: America/Sao_Paulo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: cdit_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: